---
import BaseLayout from "@layouts/BaseLayout.astro";
---
<BaseLayout title="Contact">
    <h1 class="text-center text-3xl font-semibold text-red-600 bg-clip-text mb-8">Contact me</h1>
</BaseLayout>

