---
import { MarkdownInstance } from "astro";
import { parse } from "node-html-parser";
import { Frontmatter } from "src/misc";

export interface Props {
  content: MarkdownInstance<Frontmatter>;
  lazyLoading?: boolean;
}

const { content, lazyLoading } = Astro.props as Props;

const description =
  content.frontmatter.description ||
  parse(await content.compiledContent()).querySelector("p:first-of-type")
    ?.innerText;
---

<div
  class="card sm:card-side bg-base-200 max-w-[90%] w-[52rem] mx-auto scale-1 hover:scale-105 transition-[scale_250ms] shadow-[0px_0px_20px_2px_rgb(0_0_0_/_50%)] dark:shadow-[0px_0px_20px_2px_rgb(255_255_255_/_50%)] focus-within:outline focus-within:outline-2 focus-within:outline-secondary"
>
  {
    content.frontmatter.image ? (
      <Fragment>
        <figure class="pt-4 sm:pt-0 rounded">
          <img
            width="300"
            height="200"
            loading={lazyLoading ? "lazy" : "eager"}
            class="m-2 max-w-[300px] max-h-[200px] aspect-video"
            src={content.frontmatter.image}
            alt={
              content.frontmatter.imageDescription ?? content.frontmatter.title
            }
          />
        </figure>
      </Fragment>
    ) : null
  }

  <div class="card-body">
    <h2 class="card-title">{content.frontmatter.title}</h2>
    <p class="line-clamp-4 md:line-clamp-3">
      {description}
    </p>
    <div class="card-actions justify-end items-center">
      <a href={content.url} class="btn btn-outline btn-primary capitalize"
        >Read more&mldr;</a
      >
    </div>
  </div>
</div>
